
doctype html
html
    head
        title My Grunt site
        link(rel="stylesheet", href="css/app.css")
    body
        h5 Hello World I am God yes I AM
        include app/header
        include app/content
        include app/footer

        script(src="js/app.js")